ImageSearch.xcodeproj/project.xcworkspace/xcuserdata/bugteul.xcuserdatad/UserInterfaceState.xcuserstate
ImageSearch.xcodeproj/xcuserdata/bugteul.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
ImageSearch.xcodeproj/project.xcworkspace/contents.xcworkspacedata
