ImageSearch.xcodeproj/project.xcworkspace/xcuserdata/bugteul.xcuserdatad/UserInterfaceState.xcuserstate
ImageSearch.xcodeproj/xcuserdata/bugteul.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
ImageSearch.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ImageSearch.xcodeproj/xcuserdata/takin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ImageSearch.xcodeproj/project.xcworkspace/xcuserdata/takin.xcuserdatad/UserInterfaceState.xcuserstate
